.head {
  margin-top: 20px;
}

.headTitles {
  display: flex;
  justify-content: center;
  font-family: "Lora", serif;
  color: #444;
}

.headTitle {
  align-items: center;
  position: absolute;
  font-size: 80px;
  text-align: center;
}

.headImg{
  align-items: center;
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 7px;
  margin: 100px 25px 40px 25px;
}

.aboutDesc {
  align-items: center;
  padding: 12px 20px;
  margin: 20px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(77, 76, 76);
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color: #444;
}